{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <div id="login">
            <h2 class="text-center">Welcome To Twrubic!!</h2>
            <a href="{{ url }}" id="twitter-login">
                <img class="rounded mx-auto d-block" src="{{ asset('apple-touch-icon.png') }}" id="login-button" alt="twitter-login" height="100" width="400">
            </a>
        </div>
    </div>

{% endblock %}